docs/**/*.aux
docs/**/*.log
docs/**/*.out
docs/**/*.fls
docs/**/*.fdb_latexmk
docs/**/*.synctex.gz
docs/**/*.toc
docs/**/*.lof
docs/**/*.lot
docs/**/*.bbl
docs/**/*.blg
!docs/*/*.tex
!docs/*/*.pdf
!docs/*/assets/**